<ion-view title="Ask the President">
    <ion-nav-buttons side="left">
        <button ng-click="goBack()" class="button button-icon ion-ios-arrow-back"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    President
                </div>
                <select ng-options="item as item.name for item in presidents track by item.id"
                        ng-model="president" ng-change="setPresident()"></select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Issue, question or idea?
                </div>
                <select ng-model="askMeInfo.form.type">
                    <option value="issue">Issue</option>
                    <option value="question">Question</option>
                    <option value="idea">Idea</option>
                </select>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Subject</span>
                <input type="text" placeholder="Subject" ng-model="askMeInfo.form.subject">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Ask</span>
                <textarea placeholder="Please ask your query here" ng-model="askMeInfo.form.comment" style="height: 150px;"></textarea>
            </label>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-balanced">
        <div class="title" ng-click="ask()"><strong>POST</strong></div>
    </ion-footer-bar>
</ion-view>
